name: Standard CI

on: push

jobs:
  lint-build:
    name: Lint and Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm install
          npm run lint
          npm run build

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint-build
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm install
          npm run test

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm install
          npm run deploy
